# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE / editor files
.vscode/
.idea/

# Ignore Docker cache
*.pid
*.tar
*.db
*.sqlite3
